<div class="row">
  <div class="col s12 offset-s3">
    <a class="waves-effect waves-light btn-max btn-large" (click)="takeoffORLand()">Takeoff/Land</a>
  </div>
</div>
<div class="row">
  <div class="col s2 offset-s3">
    <a class="waves-effect waves-light btn-max btn-large" (click)="turnLeft()">turn left</a>
  </div>
  <div class="col s2">
    <a class="waves-effect waves-light  btn-max btn-large" (click)="moveForward()">forward</a>
  </div>
  <div class="col s2">
    <a class="waves-effect waves-light  btn-max btn-large" (click)="turnRight()">turn right</a>
  </div>
</div>
<div class="row">
  <div class="col s2 offset-s3">
    <a class="waves-effect waves-light btn-max btn-large" (click)="moveLeft()">move left</a>
  </div>
  <div class="col s2">
    <a class="waves-effect waves-light  btn-max btn-large" (click)="moveBack()">move back</a>
  </div>
  <div class="col s2">
    <a class="waves-effect waves-light  btn-max btn-large" (click)="moveRight()">move right</a>
  </div>
</div>
